* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-family: monospace;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.main-header {
  width: 100%;
  height: 62px;
  background-color: #121212;
  color: whitesmoke;
}

.main-header__nav {
  height: 100%;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.main-header__logo {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: cursive;
  color: rgb(234, 234, 234);
}

.main-header__logo span {
  color: #ff5c10;
}

.main-header__item-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-header__item {
  font-size: 1.2rem;
  font-weight: 500;
}

.main-header__item a {
  text-decoration: none;
  color: rgb(233, 233, 233);
  padding: 0.2rem 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ff5c10;
  border-bottom: 2px solid #ff5c10;
}

button,
.btn {
  font: inherit;
  border: none;
  background-color: #121212;
  color: white;
  padding: 12px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: monospace;
  width: 100%;
}

.admin-btns {
  display: flex;
  justify-content: space-between;
}

button:hover,
button:active,
.btn:hover,
.btn:active {
  background-color: #212121;
  cursor: pointer;
  transition: all 0.3s ease;
}

main {
  margin: 3rem 0;
}

.main {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center__main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.message {
  width: 100%;
  max-width: 340px;
  text-align: center;
  padding: 1rem 0.2rem;
  border-radius: 4px;
}

p.message {
  width: 100%;
  max-width: 340px;
  text-align: left;
}

p.error-message {
  background: transparent;
  color: rgb(231, 29, 29);
}

div.error-message {
  background: #ffd6d6;
  color: rgb(231, 29, 29);
}

.success-message {
  background: #edffd6;
  color: rgb(29, 231, 29);
}

@media screen and (max-width: 860px) {
  .main-header {
    height: 130px;
  }

  .main-header__nav {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 0;
  }

  .main-header__item {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .main-header__item-list {
    gap: 1.4rem;
  }
}
