* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #94f09d;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__item-list {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-header__item {
  font-size: 1.2rem;
  font-weight: 600;
}

.main-header__item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #2a781f;
}

button {
  font: inherit;
  border: none;
  background-color: #2a781f;
  color: white;
  padding: 12px;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
}

.admin-btns {
  display: flex;
  justify-content: space-between;
}

button:hover,
button:active {
  background-color: #3a9d2d;
  cursor: pointer;
}

main {
  margin: 3rem 0;
}

.main {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
