.shop-main {
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1.2rem;
}

.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__content p {
  height: 40px;
  font-size: 1.1rem;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 300px;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card__actions form {
  width: 100%;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
  width: 100%;
}

.product__main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 90%;
  margin: 2.5rem auto;
}

.product__img img {
  max-width: 540px;
}

.cart__main {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
}

.order__main {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 620px;
  margin: 3rem auto;
}

.order__main h1 {
  font-size: 1.7rem;
  color: rgb(48, 48, 48);
}

.order__main .cart__item {
  flex-direction: column;
  align-items: flex-start;
  padding: 1.4rem 2rem;
}

.order__main .cart__item-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(48, 48, 48);
}

.order__main .cart__item li {
  list-style-type: circle;
  font-size: 1.1rem;
  color: rgb(112, 112, 112);
}

.order__form {
  width: 100%;
}

.cart__items {
  margin-top: 3rem;
  width: 100%;
}

.cart__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1.4rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.cart__item form {
  flex-basis: 100%;
}

.cart__item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
}

.cart__item-img {
  width: 100px;
  height: 100px;
}

.cart__item h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.cart__item h5 {
  font-size: 0.9rem;
  font-weight: 500;
}
